.modalBackground {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 49, 49, 0.8);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  width: 50vw;
  height: 40vw;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 25px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.modalContainer .title {
  text-align: center;
  margin: 20px;
}

.hrule-modal {
  background-color: #d0cde1;
  border: 0;
  height: 2px;
  margin: 0 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  font-size: 1.7rem;
}

.modalContainer .footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer-form button {
  width: 150px;
  height: 45px;
  margin: 30px;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.cancel-Btn {
  background-color: crimson;
}

.submit-Btn {
  background-color: green;
}
